@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

:root {

    /* Primary */
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);

    /* Accent */
    --Blue: hsl(248, 32%, 49%);

    /* Neutral */
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
    --opacityBlue: hsla(249, 10%, 26%, 0.5);

    font-size: 16px;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background: url(images/bg-intro-desktop.png), var(--Red);
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex;
}

.col {
    flex-basis: 50%;
}

.col:first-child {
    padding: 0px 120px 0px 120px;
}

main {
    margin-top: 7.5%;
}

.col h1 {
    color: white;
    font-size: 50px;
    line-height: 1.15;
}

.col p {
    margin-top: 20px;
    color: white;
    font-size: 15px;
}

.text-wrap {
    margin-top: 50%;
}

.purple-container {
    width: 460px;
    height: 48px;
    background: var(--Blue);
    border-radius: 8px;
    box-shadow: 0px 6px 0px  var(--opacityBlue);
}

.purple-container h2 {
    color: white;
    font-size: 14px;
}

.purple-container h2 span {
    font-weight: 300;
}

.white-container {
    width: 460px;
    height: 450px auto;
    background: white;
    margin-top: 25px;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 6px 0px  var(--opacityBlue);
}

.second-wrap {
    margin-top: 12%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 100%;
    padding: 14px 25px;
    border: 2px solid var(--GrayishBlue);
    margin-top: 20px;
    outline: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--DarkBlue);
}

.input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.input:focus {
    border: 2px solid var(--Blue);
    caret-color:hsl(248, 32%, 49%);
    transition: 0.5s;
}

.button {
    margin-top: 20px;
    padding: 15px 25px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    border: none;
    background: var(--Green);
    border-radius: 5px;
    box-shadow: 0px 2px 0px  var(--opacityBlue);
}

.button:hover {
    opacity: 0.75;
    transition: 0.5s;
}

.col h3 {
    font-size: 11px;
    font-weight: 500;
    margin-top: 20px;
    color: var(--GrayishBlue);
}

.col h3 span {
    color: var(--Red);
    font-weight: 600;
}

.error {
    position: relative;
}

.first-error {
    position: absolute;
    bottom: 15px;
    left: 355px;
    display: none;
}

.second-error {
    position: absolute;
    bottom: 15px;
    left: 355px;
    display: none;
}

.third-error {
    position: absolute;
    bottom: 15px;
    left: 355px;
    display: none;
}

.fourth-error {
    position: absolute;
    bottom: 15px;
    left: 355px;
    display: none;
}

/* When have error */
.first-error.show {
    display: block;
}

.second-error.show {
    display: block;
}

.third-error.show {
    display: block;
}

.fourth-error.show {
    display: block;
}

/* Text Error */
.wrap {
    position: relative;
}

.first-h4 {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    bottom: -10px;
    color: var(--Red);
    display: none;
}

.second-h4 {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    bottom: -10px;
    color: var(--Red);
    display: none;
}

.third-h4 {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    bottom: -10px;
    color: var(--Red);
    display: none;
}

.fourth-h4 {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    bottom: -10px;
    color: var(--Red);
    display: none;
}

.first-h4.show{
    display: block;
}

.second-h4.show{
    display: block;
}

.third-h4.show{
    display: block;
}

.fourth-h4.show{
    display: block;
}

.empty {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    bottom: -10px;
    color: var(--Red);
    display: none;
}

.empty.show {
    display: block;
}

.flex-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer {
    position: relative;
}

.attribution {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    color: white;
}

@media (max-width: 768px) {

    body {
        background: url(images/bg-intro-mobile.png), var(--Red);
    }

    .row {
        display: unset;
    }

    .col:first-child {
        padding: 50px;
        text-align: center;
    }
    
    .col h1 {
        font-size: 30px;
    }

    main {
        margin-top: 0;
    }

    .text-wrap {
        margin-top: 30px;
    }

    .col p {
        line-height: 1.8;
    }

    .purple-container {
        width: 100%;
        height: 80px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .purple-container h2 {
        text-align: center;
        line-height: 1.8;
    }

    .second-wrap {
        margin-top: 0%;
        padding: 25px;
    }

    .white-container {
        width: 100%;
    }

    .col h3 {
        text-align: center;
    }

    .attribution {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}